# Environments
.env

# Super-linter outputs
super-linter-output
super-linter.log

# Prettier config
.prettierrc

# GitHub Actions leftovers
github_conf


# Desktop-environment trash directories
.Trash-*
.Trashes
$RECYCLE.BIN/

# Added by cargo

/target
